@media screen and (max-width: 576px) {
    .header {
        background-size: 400%; 
    }

    .club_achievments {
        margin-top: 10%;
        font-size: 15px;
    }

    .club_bio {
        margin-top: 25%;
        margin-bottom: 20px;
        margin-right: 10%;
        margin-left: 10%;
        font-size: 16px;
    }

    #ak_bars {
        width: 250px;
        height: 10%;
        margin-right: 40px;
        margin-left: 70px;
        margin-top: 15px;
        margin-bottom: 0px;
    }

    #metalurg{
        width: 250px;
        height: 350px;
        margin-right: 40px;
        margin-left: 70px;
        margin-top: 15px;
        margin-bottom: 0px;
    }

    #metalurg_bio{
        margin-top: 15px;
        margin-bottom: 20px;
        margin-right: 10%;
        margin-left: 10%;
        font-size: 18px;
    }

    .player_pic {
        width: 250px;
        height: 250px;
        margin-right: 40px;
        margin-left: 10%;
        margin-top: 15px;
        margin-bottom: 0%;
    }

    .player_bio {
        margin-top: 15px;
        margin-bottom: 20px;
        margin-right: 60px;
        margin-left: 10%;
        font-size: 16px;
    }

}