body{
	background-color: #FFFFE0;
    font-family: 'Lato', sans-serif;
    font-family: 'Nunito', sans-serif;
	
}

h3{
    text-align: center;
}
H2{
    text-align: center;
}

p{
    text-align: center;
}

.header {
    background-image: url(32.jpg)  ;
    background-repeat: no-repeat;
    background-size: 1500px ; 
    padding-bottom: 300px;
    text-shadow: 50px 5px 4px;
}

.menu {
    margin-top:8px;
}

.menu__item {
    margin: 0 57px;
}

.menu__item a {
    font-size:22px;
    font-weight:700;
    color: #000;
}

.offer{
    margin-top: 117px;
}

.offer__title {
    font-size:32px;
    margin-bottom: 15px;
    color: #FFFFFF;
}

.offer__intro {
    font-size: 20px;
    line-height: 1.3em;
    color: #FFFFFF;
}

.offer__text {
    font-size: 16px;
    margin-top: 15px;
    color: #FFFFFF;
    width: 1000px;

}

.icons__item {
    margin-right:30px;
}

.icons__item a {
    color: #FFFFFF;
    font-size: 42px;
    transition: all 0.3s ease; /* плавная анимация*/
}

.icons__item a:hover {
    text-decoration: none;
    color: #ff4800;
}  /* анимация при наведении на иконки*/

/*Interesting*/
.feature {
    margin-bottom: 65px;
}

.feature__icon {
    font-size: 50px;
    margin-right: 37px;
    color: #000
}

.feature__text {
    color: #898989
}

.feedback {

    background:#000;
    color: #fff;
}

/* Футер*/

.footer {
    background: #000;
}

.footer_info {
    color: #fff;
    font-size: 16px;
    padding: 50px 0 94px;
    width: 184px;
    margin: 0 auto;
    text-align: left;
}
.footer_info1 {
    color: #fff;
    font-size: 16px;
    padding: 50px 0 94px;
    width: 184px;
    margin: 0 auto;
    text-align: center;
}
.footer_info2 {
    color: #fff;
    font-size: 16px;
    padding: 50px 0 94px;
    width: 184px;
    margin: 0 auto;
    text-align: right;
}







/*.footer_titles {

}*/

/*Feedback*/

.blue{

    color:#95d9fb;
}

.form_input{
    background:#FFFFFF;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif; 
    border-radius: 5px;
    width: 580px;
    padding: 15px 0;
    margin-right: 21px;
    border:0;
    outline: none;

}
.title__main, .title__text {
    text-align: center;
}

.button {
  font-family: 'PT Sans', sans-serif; 
  background:#e0413b;
  color: #000;
  text-transform:  uppercase;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  width: 126px;
  border: 0;
  padding: 15px 0;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
    .logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .offer {
        text-align: center;
    }
    .offer__text {
        margin: 20px auto;
        width: auto;
    }
    .icons {
        justify-content: center;
    }
    .icons__item:nth-child(3) {
        margin-right: 0;
    }
    .form__input {
        margin-right:0;
        width: 100%;
    }
    .button {
        margin-top: 20px;
        width: 100%;
    }
    .title__text {
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .ipad {
        width: 100%;
    }
    .menu {
        flex-direction: column;
    }
    .menu__item {
        text-align: center;
        margin-bottom:10px;
    }
}

.footertext {
    color: #FFE4E1;
}

.icons {
    margin-top: 0px;
}