@media screen and (max-width: 576px) {
    .header {
        background-size: 350%; 
        padding-bottom: 700px;
    }
    .ipad {
        width: 100%;
    }
    .menu {
        flex-direction: column;
    }
    .menu__item {
        text-align: center;
        margin-bottom:10px;
    }
}